#avatar {
    height: 25%;
    width: 25%;
}
.flip__book article{
    /* border: 2px solid grey; */
    height: 100%;
}


.flipContainer {
    margin: 5%;
    padding: 1%; 
    background:rgba(#94B9B0,#94B9B0, #94B9B0, .7 ); 
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.19), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

