#avatar {
    height: 25%;
    width: 25%;
}
h1, a {
    font-family: 'Lobster', cursive;
}
p, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.page_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

div{
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

section{
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}