
.Book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}


.Book div{
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 1%;
}
.first__page {
    margin: 2%;
}
.book__avatar {
    height: 65%;
    width: 65%;
}

.lang__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    
}
.lang__container img {
    margin: 1%;
    height: 15%;
    width: 15%;
}
.notification {
    align-self: unset;
    display: unset;
    margin-right: 1%;
    margin-left: 10%;
    margin-bottom: -15%;
}