
.favsContainer {

    background-color:rgba(255, 255, 255, .9);
    padding: 2%;
    font-size: .7em;
    margin-bottom: 6%;
    margin-top: 6%;
}

.favsContainer img {
    height: 5%;
    width: 5%;
    
}
.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
    /* padding: 2%; */
}


.favorites img{
    height: 25%;
    width: 25%;
    border-radius: 35%;
}

@media screen and (max-width: 480px) {
    .favsContainer {
        background-color:rgba(255, 255, 255, .9);
        padding: 2%;
        font-size: .7em;
        margin-bottom: 6%;
        margin-top: 16%;
    }
}