
.favsContainer {
    background-color:rgba(255, 255, 255, .9);
    padding: 2%;
    font-size: .7em;
}

.favsContainer img {
    height: 5%;
    width: 5%;
    
}
.Favs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* padding: 2%; */
}

.Favs p{
    font-size: 1.5em;
    font-weight: bolder;
    /* margin: -.8%; */
}

.Favs img{
    height: 35%;
    width: 35%;
    border-radius: 35%;
}
