#paws2{
    width: 50%;
    height: 50%;
    transform: rotate(60deg);
    align-self: left;
    margin-top: -10%;
    /* margin-bottom: -10%; */
    margin-left: -90%;
    /* margin-right: 30%; */
}
.favsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}
.favs__title {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.favs__title img {
    margin-top: 3%;
    /* margin-left: -40%; */
    height: 45%;
    width: 45%;
    
}
 .favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    /* height: 100%; */
}
.Favs {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: .5em;
}

.Favs img{
    height: 20%;
    width: 20%;
    border-radius: 35%;
}
