
.intro {
    text-align: center;
    margin-top: 2%;
    background-color: white;
    padding: 2%;
}


#cover__avatar {
    height: 35%;
    width: 35%;
}

.intro img{
    height: 15%;
    width: 15%;
}

.bio {
    background-color: white;
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bio img {
    width: 75%;
    height: 30%;
}


