
.intro {
    margin-bottom: 6%;
    margin-top: 6%;
    text-align: center;
    background-color: white;
    padding: 2%;
    background-color:rgba(255, 255, 255, .9);
}


#cover__avatar {
    height: 25%;
    width: 25%;
}

.intro img{
    height: 10%;
    width: 10%;
    padding: 2%;
}

.bio {
    background-color: white;
    background-color:rgba(255, 255, 255, .9);
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}
.bio h1{
    font-size: 2rem;
}
.bio p{
    font-size: 1.7rem;
}

.bio img {
    width: 5%;
    height: 5%;
}

@media screen and (max-width: 480px) {

    .intro {
        margin-bottom: 6%;
        margin-top: 16%;
        text-align: center;
        background-color: white;
        padding: 2%;
        background-color:rgba(255, 255, 255, .9);
    }    
}
