
.Footer {
    overflow: hidden;
    background-color: rgba(88,88,88, .5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: .6em;
    padding: 2%;

    /* flex */
}

.Footer img{
    height: 2%;
    width: 2%;
}