.placePage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        height: 100%;
}
.first__place {
    height: 5%;
    /* width: 50%; */
    text-align: center;
    margin-top: -5%;
}

.second__place {
    height: 100%;
    width: 50%;
    /* height: 60vh; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    /* padding: 2%; */
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
}

/* .placeContainer {
    height: 100%;
    width: 100%;
} */

.placeContainer img{
    height: 50vh;
    width: 80vw;
    margin-left: 3%;
    /* margin-right: 3%; */
    /* padding-top: 25%; */
    /* text-align: center; */
}