.projectList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    margin: 1%;
    padding: 3%;
    width: 80%;
    height: 20%;
    border: 2px solid white;
    border-image: linear-gradient(white, whiteSmoke) 3;
}
.project a {
    text-decoration: none;
    color: black;
}

.project:hover {
    background: gainsboro;
}

