.projectList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}
.first__page {
    height: 100%;
    width: 50%;
    text-align: center;
}
.first__page img{
    height: 35%;
    width: 35%;
}
.second__page {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    font-size: 12px;
}
.project {
    /* border: 2px solid black; */
    width: 265px;
    height: 270px;
    margin: 1% 1% 1% -3%;
    padding: 3%;  
    text-align: center;
}

#project__Geo-Zoo {
    opacity: 0;
}

#project__Geo-Zoo:hover {
    visibility: visible;
    opacity: 1;
}

#project__Mad-Words {
    opacity: 0;
}

#project__Mad-Words:hover {
    visibility: visible;
    opacity: 1;
}

#project__Aloha {
    opacity: 0;
}
#project__Aloha:hover {
    visibility: visible;
    opacity: 1;
}

#Geo-Zoo__1 {
    background-image: url("../img/projectImages/geo-zoo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#Geo-Zoo__1:hover {
    background-image: none;
}

#Mad-Words__2 {
    background-image: url("../img/projectImages/mad-words.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3% 35%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
}
#Mad-Words__2:hover {
    background-image: none;
}

#Aloha__3 {
    background-image: url("../img/projectImages/aloha.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#Aloha__3:hover {
    background-image: none;
}